{% load static %}

<head>
    <!-- Style Sheets and Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'video_conferencing/styles.css' %}">
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/de94240876.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script>
        let username = "{{ user|safe }}"
        let team_id = "{{ team_id|safe }}"
        let name = "{{ name| safe}}"
    </script>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <title>Dashboard</title>
</head>

<body>

    <div class="top_most">
        <section class="colored-section">
            <nav class="navbar navbar-expand-lg navbar-dark">

                <a class="navbar-brand" href="">
                    <h2>Microsoft Teams <span class="fab fa-microsoft"></span></h2>
                </a>
                <input type="text" id="message" class="form__input validate top-text-box"
                    placeholder="Enter a group ID to enter the Video-call room" style="width: 25%; 
                    margin-left: 20%;">
                <input id="message-submit" type="button" value="Enter" class="btn btn-secondary btn-sm"
                    style="height: 2rem; width: 4rem; margin-left:1rem;">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Username: {{user}}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Status : Online <i class="fas fa-circle"
                                        style="color: greenyellow;"></i></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/0/demo">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
    <div class="container-fluid side_most">
        <div class="row">
            <nav class="navbar col-md-3 col-lg-2 d-md-block" style="background-color: #fff; ">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">

                            <h2>My Groups</h2>
                        </a>
                    </li>
                    {% for teams in user_teams %}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/{{teams.team_id}}/{{teams.team_name}}">
                            {{teams.team_id }} - {{teams.team_name}}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="/team_form/">

                            Make a new group <i class="fas fa-user-plus"></i>
                        </a>
                    </li>
                </ul>
                <!-- </div> -->
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% if team_id == '0' %}
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome to Teams! </h1><br>

                </div class="center-align">
                <h1 class="h2">Select a group or Create one to start a conversation!</h1>
                <div>

                </div>
                {% else %}
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Welcome to Group - {{name}} - {{team_id}}</h1>
                </div>
                <div>
                    <a href="/add_members/{{team_id}}/{{name}}" class="btn btn-secondary btn-sm" role="button"
                        style="width: 10%;"> Add
                        Members <i class="fas fa-user-plus"></i></a>

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown">
                        View Members
                    </a>
                    <div class="dropdown-menu">
                        {% for teams in team_members%}
                        <a class="dropdown-item" href="">{{teams.user_name}}</a>
                        {% endfor %}
                    </div>
                    <div>
                        <a href="/{{team_id}}/{{user}}/" class="btn btn-secondary btn-lg main-button" role="button"
                            style="margin-top: 0%; ">
                            Start/Join a
                            Video-call <i class="fas fa-video"></i> <i class="fas fa-comments"></i></a>
                        <!-- </li> -->
                    </div>

                </div>
                <div id="chat-container">
                    <div id="chat-box">
                        <!-- < id="chat-log"></ul> -->

                    </div>
                    <div id="input-box">
                        <input id="chat-message-input" type="text" size="75">
                        <input id="chat-message-submit" type="button" value="Send">
                    </div>
                </div>




                {% endif %}
                <div style="margin-left: 15%; margin-top: 15%;">
                    <h1>
                        {% for message in messages %}
                        {{message}}
                        {%endfor%}
                    </h1>
                </div>

            </main>

        </div>
    </div>
    <script>
        let endpoint = 'ws://' + window.location.host + '/ws/dashboard/' + team_id + '/' + name + '/'
        socket = new WebSocket(endpoint)

        socket.onmessage = function (e) {
            let dataMsg = JSON.parse(e.data)
            tmp = dataMsg.message
            for (let i = 0; i < tmp.length; i++) {
                let app = document.querySelector('#chat-box')
                let li = document.createElement('span')
                li.textContent = tmp[i]
                li.classList.add('message');
                let new_div = document.createElement('div')
                new_div.className = "chat_div"
                new_div.append(li)
                app.append(new_div)
                scrollToBottom()
            }
        }
        const scrollToBottom = () => {
            let d = $('#chat-box');
            d.scrollTop(d.prop("scrollHeight"));
        }
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {        //storing the message and sending it in JSON format to the server
            const messageInputDom = document.querySelector('#chat-message-input');
            let message = messageInputDom.value;
            message = username + " : " + message;
            socket.send(JSON.stringify({
                'message': message,
                'type': "msg",
                'user_name': username
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#message');
            const message = messageInputDom.value;
            messageInputDom.value = '';
            if (message != '')
                window.location.pathname = '/' + message + '/' + username;
        };
    </script>
</body>